{% extends 'user/main.html'%}
{% load static %}
{% block content %}

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
<!--        <div class="row">-->
<!--            <div class="col-lg-6">-->
<!--                <div class="text-center">-->
<!--                    <a href="/" class="mb-5 d-block auth-logo">-->
<!--                        <img src="{% static 'user/images/booklogo.jpg' %}" alt="" height="22" class="logo logo-dark">-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <a href="/" class="mb-5 d-block auth-logo">
                        <img src="assets/images/logo-light.png" alt="" height="22" class="logo logo-light">
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="text-center mt-2">
                            <h5 class="text-primary">Enter OTP</h5>
                            <p class="text-muted">Sign in to continue to Book-Store</p>
                            <span id="sucsmsg1" style="color:green" class="form-text"></span>
                                {% for message in messages %}
                                <h4 style="color:red"> {{ message }}</h4>
                                {% endfor %}
                        </div>
                        <div class="p-2 mt-4">
                            <form action="/enter_otp/" method="POST">
                            {% csrf_token %}

                                <div class="mb-3">
                                    <label class="form-label" for="otp">OTP</label>
                                    <p class="mb-0">Don't get OTP ? <a href="/otp_login/" class="fw-medium text-primary"> Resend </a> </p>
                                    <input type="number" class="form-control" name="" id="otp" placeholder="Enter OTP">
                                </div>

                                <div class="mt-3 text-end">
                                    <span id="errmsg2" style="color:red" class="form-text"></span>
                                    {% for message in messages%}
                                    <h4 style="color:red"> {{ message }}</h4>
                                    {% endfor %}
                                    <input type="button" id="loginbtn" class="btn btn-primary" value="Log In">
                                </div>

                                <div class="mt-4 text-center">
                                    <p class="mb-0">Don't have an account ? <a href="/signup/" class="fw-medium text-primary"> Signup now </a> </p>
                                    <p class="mb-0">Login with username and password <a href="/login/" class="fw-medium text-primary"> Click here. </a> </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- jquery validation -->

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('#loginbtn').click(function(){
            var otp = $('#otp').val();
            var data = {
            'csrfmiddlewaretoken' : '{{csrf_token}}',
            'otp' : otp,
            }
        if (otp === "") {
            $('#errmsg2').html("Enter your otp")
        }
        else {
            $.ajax({
                url:'',
                method:'POST',
                data: data,
                dataType:'json',
                success:function(data){
                    if (data=='true'){
                        window.location.replace('/')
                    }
                    else if(data == 'und') {
                        $("#errmsg2").html("otp dose not matching")
                    }
                }
            })
        }
    })
</script>

{% endblock content %}