<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | BookStore</title>

        <!-- Tab icon -->
        <link rel="shortcut icon" href="">
        <!-- ION Slider -->
        <link rel="stylesheet" href="{% static 'user/css/line.css' %}">
        <link rel="stylesheet" href="{% static 'user/css/ion.rangeSlider.min.css' %}">
        <!-- Bootstrap Css -->
        <link href="{% static 'user/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <!-- <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />-->
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" integrity="sha512-xnwMSDv7Nv5JmXb48gKD5ExVOnXAbNpBWVAXTo9BJWRJRygG8nwQI81o5bYe8myc9kiEF/qhMGPjkSsF06hyHA==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css" integrity="sha512-vIgFb4o1CL8iMGoIF7cYiEVFrel13k/BkTGvs0hGfVnlbV6XjAA0M0oEHdWqGdAVRTDID3vIZPOHmKdrMAUChA==" crossorigin="anonymous" />
        <!-- App Css-->
        <link href="{% static 'user/css/app.min.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'user/css/style2.css' %}" rel="stylesheet" type="text/css" />
        {% block styles %}
        {% endblock %}

    <!--/oldstart-->
<!--    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">-->
<!--	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" integrity="sha512-xnwMSDv7Nv5JmXb48gKD5ExVOnXAbNpBWVAXTo9BJWRJRygG8nwQI81o5bYe8myc9kiEF/qhMGPjkSsF06hyHA==" crossorigin="anonymous" />-->
<!--    <link rel="stylesheet" href="{% static 'user/css/prettyPhoto.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'user/css/price_range.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'user/css/animate.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'user/css/main.css' %}">-->
<!--    <link rel="stylesheet" href="{% static 'user/css/responsive.css' %}">-->
<!--    <link rel="shortcut icon" href="{% static 'user/css/main.css' %}">-->
    <!--/oldend-->

</head><!--/head-->

        <!-- JA<><><><><><<<>><><><><<><><><><><><><><><>><>><>< -->
    <body>
        <!-- Begin page -->
        <div id="layout-wrapper" style="margin-left:150px; margin-right:150px" class="main-content">
            <header id="page-topbar">

                <!-- prev header hidden -->
		        <div class="header-middle"><!--header-middle-->
<!--                    <div class="container">-->
<!--                        <div class="row" style="background-color: white">-->
<!--                            <div class="col-md-4 clearfix">-->
<!--                                <div class="logo pull-left">-->
<!--                                    <a href="/"><img src="{% static 'user/images/logo.png' %}" alt="" style="height: 50px;"/></a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-8 clearfix">-->
<!--                                <div class="shop-menu clearfix pull-right">-->
<!--                                    <ul class="nav navbar-nav">-->
<!--                                        <li>-->
<!--                                            <div class="col-sm-12">-->
<!--                                                <div class="search_box pull-right">-->
<!--                                                    <input type="text" placeholder="Search"/>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </li>-->
<!--                                        {% if user.is_authenticated %}-->
<!--                                        <li><a href="#"><span style="color:orange">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span></a></li>-->
<!--                                        <li><a href="/logout/"><i class="fa fa-lock"></i> Logout</a></li>-->
<!--                                        {% else %}-->
<!--                                        <li><a href="/signup/"><i class="fa fa-shopping-cart"></i> Signup</a></li>-->
<!--                                        <li><a href="/login/"><i class="fa fa-lock"></i> Login</a></li>-->
<!--                                        {% endif %}-->
<!--                                        <li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>-->
<!--                                        <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>-->

<!--                                    </ul>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <!-- prev header hidden -->

                <div class="navbar-header">
                    <div class="d-flex">

                        <!-- App Search-->
                        <div class="dropdown d-inline-block">
                            <a href="/"  class="p-3 btn header-item noti-icon waves-effect">
                                <img class="rounded-circle header-profile-user" src="{% static 'user/images/booklogo.jpg' %}"
                                    alt="Header Avatar">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">BOOK STORE</span>
                                <i class=" d-none d-xl-inline-block font-size-15"></i>
                            </a>
                        </div>
                        <div class="dropdown d-inline-block">
                            <button type="" class="btn header-item " id="dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <i class=" d-none d-xl-inline-block font-size-15"></i>
                            </button>
                        </div>
                    </div>

                    <div class="d-flex">
                        <div class="dropdown d-inline-block d-lg-none ms-2">
                            <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="uil-search"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                                aria-labelledby="page-header-search-dropdown">
                                <form class="p-3">
                                    <div class="form-group m-0">
                                        <div class="input-group">
                                            <input type="text" style="padding-left:40px;" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="submit"><i class="mdi mdi-magnify"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class=" d-inline-block language-switch">
                            <a href="/"  class="btn header-item noti-icon waves-effect">
                                <p class="mt-3">HOME</p>
                            </a>
                            <!-- drop down hidden-->
                        </div>
                        <div class="dropdown d-inline-block language-switch">
                            <button type="button" class="btn header-item noti-icon waves-effect"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BOOKS
                            </button>
                            <!-- drop down hidden-->
                            <div class="dropdown-menu dropdown-menu-end">
                                {% for cat in cats %}
                                <a href="/category/{{ cat.id }}" class="dropdown-item notify-item">{{ cat.category }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="dropdown d-inline-block language-switch">
                            <button type="button" class="btn header-item noti-icon waves-effect"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">AUTHORS
                            </button>
                            <!-- drop down hidden-->
                            <div class="dropdown-menu dropdown-menu-end">
                                {% for aut in auts %}
                                <a href="/author/{{ aut.id }}" class="dropdown-item notify-item">{{ aut.name }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="dropdown d-none d-lg-inline-block ms-1">
                            <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                                <i class="uil-minus-path"></i>
                            </button>
                        </div>

                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-notifications-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                                <span style="width:20px; top:-17px; left:32px" class="badge bg-danger rounded-pill">3</span>-->
                                CART
                                <i class="uil-shopping-cart d-none d-xl-inline-block font-size-24"></i>
                                <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/cart/"><i class="uil uil-shopping-cart font-size-18 align-middle text-muted me-1"></i>
                                    <span class="align-middle">My Cart</span></a>
<!--                                <a class="dropdown-item" href="/wishlist/"><i class="uil uil-heart font-size-18 align-middle text-muted me-1"></i>-->
<!--                                    <span class="align-middle">Wishlist</span></a>-->
                            </div>
                        </div>

                        {% if user.is_authenticated %}
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<!--                                <img class="rounded-circle header-profile-user" src="{% static 'user/images/avatar-2.jpg' %}"-->
<!--                                    alt="Header Avatar">-->
                                <i class="uil-user d-none d-xl-inline-block font-size-24"></i>
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
                                <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/profile/"><i class="uil uil-user font-size-18 align-middle text-muted me-1"></i>
                                    <span class="align-middle">Profile</span></a>
                                <a class="dropdown-item" href="/logout/"><i class="uil uil-sign-out-alt font-size-18 align-middle text-muted me-1"></i>
                                    <span class="align-middle">Log Out</span></a>
                            </div>
                        </div>
                        {% else %}
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn header-item waves-effect" id="page-headser-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="uil-user d-none d-xl-inline-block font-size-24"></i>
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">Account</span>
                                <i class="uil-angle-down d-none d-xl-inline-block font-size-15"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/login/"><i class="uil uil-sign-in-alt font-size-18 align-middle text-muted me-1"></i>
                                    <span class="align-middle">Log In</span></a>
                                <a class="dropdown-item" href="/signup/"><i class="uil uil-sign-in-alt font-size-18 align-middle text-muted me-1"></i>
                                    <span class="align-middle">Sign Up</span></a>
                            </div>

                        </div>
                        {% endif %}
                        <div class="dropdown d-inline-block">
                            <button type="" class="btn header-item " id="user-dropdown"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="d-none d-xl-inline-block ms-1 fw-medium font-size-15">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <i class=" d-none d-xl-inline-block font-size-15"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </header>

	{% block content %}


    {% endblock content %}




            <footer id="footer"><!--Footer-->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            .
                        </div>
                        <div class="col-sm-6">
                            <div class="text-sm-end d-none d-sm-block">
                                Crafted with <i class="mdi mdi-heart text-danger"></i> by <a href="" target="_blank" class="text-reset">Book-Store</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="footer-bottom">
                    <div class="container">
                        <div class="row">
                            <p class="pull-left"><script>document.write(new Date().getFullYear())</script> © Book-Store</p>
                            <p class="pull-right">Designed by <span><a target="_blank" href="">Rasheed</a></span></p>
                        </div>
                    </div>
                </div>

            </footer><!--/Footer-->

        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'user/js/jquery.min.js' %}"></script>
        <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'user/js/metisMenu.min.js' %}"></script>
        <script src="{% static 'user/js/simplebar.min.js' %}"></script>
        <script src="{% static 'user/js/waves.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'user/js/jquery.counterup.min.js' %}"></script>
        <!-- Ion Range Slider-->
<!--        <script src="{% static 'user/js/ion.rangeSlider.min.js' %}"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js" integrity="sha512-kZsqvmw94Y8hyhwtWZJvDtobwQ9pLhF1DuIvcqSuracbRn6WJs1Ih+04fpH/8d1CFKysp7XA1tR0Aa2jKLTQUg==" crossorigin="anonymous"></script>
        <!-- init js -->
        <script src="{% static 'user/js/product-filter-range.init.js' %}"></script>
        <script src="{% static 'user/js/app.js' %}"></script>

    <!-- old js-->
<!--    <script src="{% static 'user/js/jquery.js' %}"></script>-->
<!--    <script src="{% static 'user/js/bootstrap.min.js' %}"></script>-->
<!--    <script src="{% static 'user/js/jquery.scrollUp.min.js' %}"></script>-->
<!--    <script src="{% static 'user/js/price-range.js' %}"></script>-->
<!--    <script src="{% static 'user/js/jquery.prettyPhoto.js' %}"></script>-->
    <script src="{% static 'user/js/main.js' %}"></script>
    <!-- old js-->

</body>
</html>